@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#050023];
  }

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
    .border-gradient-l {
      border-image: linear-gradient(to top right, #59D3AA, #202028) 1;
      border-image-slice: 1;
    }
    .border-gradient-r {
      border-image: linear-gradient(to top right, #1e0347, #b46ffe) 1;
      border-image-slice: 1;
    }
    .formBorder-gradient {
      border-image: linear-gradient(to right, #FC466B, #3F5EFB);
      border-image-slice: 1;
  }

  body::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track */
body::-webkit-scrollbar-track {
    background: #0d002d; /* Color of the scrollbar track */
}

   /* Handle */
   body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #FC466B, #3F5EFB); /* Gradient background of the scrollbar handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom, #3F5EFB, #FC466B); /* Gradient background of the scrollbar handle on hover */
}

  }
